<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .container {
          border-radius: 20px;
          background-color: #f2f2f2;
          padding: 20px;
        }
    </style>
</head>

<body style="background-image: url('/static/images/background.jpg')">

    <div class="header">
      <img src="/static/images/greekpolice.png" alt="Police logo" style="width: 3%;">
      <div class="header-right">
        <a href="home" class="active">Home</a>
        <a href="manage">Manage</a>
        <a href="live_feed">Live Feed</a>
        <a href="contact">Contact</a>
        <a href="welcome" class="btn btn-danger" style="color: white;">
              <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </div>
    </div>

    <br><br><br>

    {% if error %}
        <div class="container" style="width:35%; background-color: red;">
            <p class="error" style="color: white; text-align:center; align:center;"><strong>Error:</strong> {{ error }}</p>
        </div><br><br>
    {% endif %}
    {% if success %}
        <div class="container" style="width: 35%; background-color: green;">
            <p class="success" style="color: white; text-align:center; align:center;"><strong> {{ success }}</strong></p>
        </div><br><br>
    {% endif %}

<div class="container" style="color: black;">
        <h1 align="center">Livestream Police Surveillance Application</h1><br>
        <h2>Introduction</h2>
        <p>Face recognition is currently being used to instantly identify when known shoplifters, organized retail criminals or people with a history of fraud enter retail establishments. Photographs of individuals can be matched against large databases of criminals so that loss prevention and retail security professionals can be instantly notified when a shopper enters a store that prevents a threat. Face recognition systems are already radically reducing crime. The technology greatly improves the power of surveillance. At the simple end, a facial recognition system connected to a network of cameras can automatically track an individual as they move in and out of coverage, even if no other information is known about them. At the more complex end, a facial recognition system fuelled by a large database of labelled data can enable police to pinpoint a person of interest across a city of networked cameras.</p>
        <h2>System</h2>
        <p>This website platform can be used from the police forces, either departments or local precincts to reduce crime detection through real-time face recognition of criminals. The main features of the platform include a) inserting, editing and deleting user and criminal information and b) searching for criminals based on their picture through a livestream camera feed and identify them. The platform supports two different types of users:</p>
        <ul>
          <li>Police employees in the headquarters/precincts</li>
          <li>Police Administrators, with a higher level of access and also responsible for database maintenance</li>
        </ul>
        <p>As for the criminal identification, it is made possible through image pattern recognition between the provided criminal’s image and snapshots of identified faces from the livestream feed. Up to 5 different camera filters are supported, for better face recognition, depending on the circumstances.</p>
        <h2>Features</h2>
         <ul>
             <li>Manage (Create/Edit/Delete) Criminals from the database - See the <u><a href="manage">Manage</a></u> tab</li>
          <li>Manage (Create/Edit/Delete) Users from the database - See the <u><a href="manage">Manage</a></u> tab</li>
          <li>Search for criminals in livestream feeds - See the <u><a href="live_feed">Live Feed</a></u> tab</li>
          <li>Select different filters per livestream, depending on current needs -See the <u><a href="live_feed">Live Feed</a></u> tab</li>
          <li>Report an issue - see the <u><a href="contact">Contact</a></u> Tab</li>
        </ul>
</div>
</body>

</html>