<!DOCTYPE html>
<html>
<head>
<head>
    <title>Insert Criminals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .container {
          border-radius: 20px;
          background-color: #f2f2f2;
          padding: 20px;
        }

        .contactlabel {
            color: black;
        }

        .required {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body style="background-image: url('/static/images/background.jpg')">

<div class="header">
      <img src="/static/images/greekpolice.png" alt="Police logo" style="width: 3%;">
      <div class="header-right">
        <a href="home">Home</a>
        <a href="manage" class="active">Manage</a>
        <a href="live_feed">Live Feed</a>
        <a href="contact">Contact</a>
        <a href="welcome" class="btn btn-danger" style="color: white;">
              <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </div>
</div>

<br><br><br>

{% if error %}
    <div class="container" style="width:35%; background-color: red;">
        <p class="error" style="color: white; text-align:center; align:center;"><strong>Error:</strong> {{ error }}</p>
    </div><br><br>
{% endif %}
{% if success %}
    <div class="container" style="width: 35%; background-color: green;">
        <p class="success" style="color: white; text-align:center; align:center;"><strong> {{ success }}</strong></p>
    </div><br><br>
{% endif %}

<div class="container">
    <h2 class = "contactlabel" align="center">Insert new Criminals</h2><br>
    <form action="" method="post">
            <div class="form-group">
                <label class="contactlabel" for="fullname">Full Name</label>
                <span class="required">*</span>
                <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                     <input class="form-control" type="text" id="fullname" name="fullname" placeholder="Criminal's Full Name.." value="{{request.form.fullname}}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="contactlabel" for="portrait">Portrait</label>
                <span class="required">*</span>
                <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                     <input class="form-control" type="text" id="portrait" name="portrait" placeholder="Criminal's Portrait URL.." value="{{request.form.portrait}}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="contactlabel" for="age">Age</label>
                <span class="required">*</span>
                <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                     <input class="form-control" type="text" id="age" name="age" placeholder="Criminal's Age.." value="{{request.form.age}}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="contactlabel" for="height">Height (in cm)</label>
                <span class="required">*</span>
                <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                     <input class="form-control" type="text" id="height" name="height" placeholder="Criminal's Height.." value="{{request.form.height}}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="contactlabel" for="weight">Weight (in kg)</label>
                <span class="required">*</span>
                <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                     <input class="form-control" type="text" id="weight" name="weight" placeholder="Criminal's Weight.." value="{{request.form.weight}}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="contactlabel" for="eye_color">Eye Color</label>
                <span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                    <select required class="form-control" name="eye_color" id="eye_color" value="{{request.form.eye_color}}">
                        <option value="Black">Black</option>
                        <option value="Brown">Brown</option>
                        <option value="Blue">Blue</option>
                        <option value="Green">Green</option>
                        <option value="Dark Brown">Dark Brown</option>
                        <option value="Amber">Amber</option>
                        <option value="Gray">Gray</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                  <label class="contactlabel" for="biography">Crime Record</label>
                  <span class="required">*</span>
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                     <textarea class="form-control" id="biography" name="biography" placeholder="Criminal's Crime History.." value="{{request.form.biography}}" style="height:200px" required></textarea>
                  </div>
            </div>
            <div class="form-group">
                  <label class="contactlabel" for="last_location">Last known location (optional)</label>
                   <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                     <input class="form-control" type="text" id="last_location" name="last_location" placeholder="Criminal's Last Known Location.." value="{{request.form.last_location}}">
                   </div>
            </div>
            <input type="reset" class="btn btn-danger" value="Reset Form">
            <input type="submit" class="btn btn-primary" value="Insert Criminal">
    </form>
</div>

</body>
</html>
