<!DOCTYPE html>
<html>

<head>
    <title>Manage Live Feed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            border-radius: 20px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .black {
            color: black;
         }

        .required {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body style="background-image: url('/static/images/background.jpg')">

    <div class="header">
      <img src="/static/images/greekpolice.png" alt="Police logo" style="width: 3%;">
      <div class="header-right">
        <a href="home">Home</a>
        <a href="manage">Manage</a>
        <a href="live_feed" class="active">Live Feed</a>
        <a href="contact">Contact</a>
        <a href="welcome" class="btn btn-danger" style="color: white;">
              <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </div>
    </div>

    <br><br><br>

    {% if error %}
        <div class="container" style="width:35%; background-color: red;">
            <p class="error" style="color: white; text-align:center; align:center;"><strong>Error:</strong> {{ error }}</p>
        </div><br><br>
    {% endif %}
    {% if success %}
        <div class="container" style="width: 35%; background-color: green;">
            <p class="success" style="color: white; text-align:center; align:center;"><strong> {{ success }}</strong></p>
        </div><br><br>
    {% endif %}

    <div class="container">
        <h1 align="center" style="color: black;">Select a Criminal</h1>
        <hr style="border-color: black; background-color: black; color: black;">
            <table class="table">
                <thead class="thead-dark">
                    <tr class="black">
                        <th scope="col">Id</th>
                        <th scope="col">Portrait</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Height (cm)</th>
                        <th scope="col">Weight (kg)</th>
                        <th scope="col">Eye Color</th>
                        <th scope="col">Biography</th>
                        <th scope="col">Last location</th>
                        <th scope="col">No Filter</th>
                        <th scope="col">Gray Filter</th>
                        <th scope="col">Redish Filter</th>
                        <th scope="col">Invert Filter</th>
                        <th scope="col">Blur Filter</th>
                        <th scope="col">Sepia Filter</th>
                    </tr>
                </thead>
                <tbody class="black">
                    {% for row in result %}
                        <tr>
                            <th class="criminal_id" scope="row">{{row.0}}</th>
                            <td class="criminal_portrait"><img src="{{row.7}}" style="width: 100px; height: 100px;"></td>
                            <td class="criminal_full_name">{{row.1}}</td>
                            <td class="criminal_age">{{row.2}}</td>
                            <td class="criminal_height">{{row.3}}</td>
                            <td class="criminal_weight">{{row.4}}</td>
                            <td class="criminal_eye_color">{{row.5}}</td>
                            <td class="criminal_bio">{{row.6}}</td>
                            <td class="criminal_last_location">{{row.8}}</td>
                            <td>
                                 <form action="search_livefeed" method="post">
                                    <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                    <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                    <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                    <input type="hidden" id="filter" name="filter" value="no">
                                    <button class="btn btn-primary">Search</button>
                                </form>
                            </td>
                            <td>
                                 <form action="search_livefeed" method="post">
                                    <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                    <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                    <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                    <input type="hidden" id="filter" name="filter" value="gray">
                                    <button class="btn btn-primary">Search</button>
                                </form>
                            </td>
                            <td>
                                 <form action="search_livefeed" method="post">
                                    <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                    <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                    <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                    <input type="hidden" id="filter" name="filter" value="redish">
                                    <button class="btn btn-primary">Search</button>
                                </form>
                            </td>
                            <td>
                                 <form action="search_livefeed" method="post">
                                    <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                    <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                    <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                    <input type="hidden" id="info" name="filter" value="invert">
                                    <button class="btn btn-primary">Search</button>
                                </form>
                            </td>
                            <td>
                                 <form action="search_livefeed" method="post">
                                    <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                    <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                    <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                    <input type="hidden" id="filter" name="filter" value="blur">
                                    <button class="btn btn-primary">Search</button>
                                </form>
                            </td>
                            <td>
                                 <form action="search_livefeed" method="post">
                                    <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                    <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                    <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                    <input type="hidden" id="filter" name="filter" value="sepia">
                                    <button class="btn btn-primary">Search</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

</body>

</html>

