<!DOCTYPE html>
<html>

<head>
    <title>Signup Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .required {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body style="background-image: url('/static/images/background.jpg')">

<div class="header">
      <img src="/static/images/greekpolice.png" alt="Police logo" style="width: 3%;">
</div>

{% if error %}
    <div class="container" style="width:35%; background-color: red;">
        <p class="error" style="color: white; text-align:center; align:center;"><strong>Error:</strong> {{ error }}</p>
    </div><br><br>
{% endif %}
{% if success %}
    <div class="container" style="width: 35%; background-color: green;">
        <p class="success" style="color: white; text-align:center; align:center;"><strong> {{ success }}</strong></p>
    </div><br><br>
{% endif %}

<div class="login-form">
    <form action="signup" method="post">
		<div class="avatar" style="background-color: #0275d8; !important">
			<img src="/static/images/avatar.png" alt="Avatar">
		</div>
        <h2 class="text-center">Member Signup</h2>
        <div class="form-group">
            <label class="contactlabel" for="username">Username</label>
            <span class="required">*</span>
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
        	    <input type="text" autocomplete="off" class="form-control" placeholder="Enter username" name="username" id = "username" value="{{request.form.username}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="password">Password</label>
            <span class="required">*</span>
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" autocomplete="off" class="form-control" placeholder="Enter password" name="password" id="password" value="{{request.form.password}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="full_name">Full Name</label>
            <span class="required">*</span>
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control" placeholder="Enter full name" name="full_name" id="full_name" value="{{request.form.full_name}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="email">Email</label>
            <span class="required">*</span>
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control" placeholder="Enter email" name="email" id="email" value="{{request.form.email}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="role">Role</label>
            <span class="required">*</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                <select required class="form-control" name="role" id="role" value="{{request.form.role}}">
                    <option value="ADMIN">ADMIN</option>
                    <option value="USER">USER</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="avatar">Avatar</label>
            <span class="required">*</span>
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control" placeholder="Enter image URL" name="avatar" id="avatar" value="{{request.form.avatar}}" required>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" value="Sign up" style="background-color: #0275d8; !important">Sign up</button>
            <input type="reset" class="btn btn-danger btn-lg btn-block" style="background-color: #d9534f; !important" value="Reset Form">
            <button class="btn btn-warning btn-lg btn-block" onclick="window.location.href = 'login';" style="background-color: #f0ad4e; !important">Return to the Login page</button>
        </div>
    </form>
</div>

</body>

</html>